<!DOCTYPE html>
<html>
<head>
    <title>MediLogic AI</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="container">

    <h1 class="title">🧠 MediLogic AI</h1>
    <p class="subtitle">Explainable Medical Reasoning System</p>

    <div class="card">
        <textarea id="inputText" placeholder="Enter symptoms..."></textarea>

        <button id="analyzeBtn" class="btn">Analyze</button>

        <div id="output" class="output"></div>
    </div>

</div>

<!-- Chart -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Graph -->
<script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

<!-- Your JS -->
<script src="/static/js/app.js"></script>

</body>
</html>